.wp-block-tender-events--calendar .tender-calendar__weekdays,
.wp-block-tender-events--calendar .tender-calendar__grid {
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
    gap: 2px;
}
.tender-calendar__day {
    border: 1px solid #e0e0e0;
    min-height: 80px;
    padding: .3rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-size: inherit;
    .tender-calendar__events{
        list-style: none;
        padding: 0px;
        .tender-calendar__event-badge{
            display: none;
        }
    }
}

.tender-calendar__weekdays {
    font-size: 0.75em;
    text-transform: uppercase;

}
.tender-calendar__navs{
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
    font-size: 0.875em;
    margin-bottom: 1rem;
}

.tender-events-list{
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: var(--wp--preset--font-size--normal);
    .tender-events-list__item{
        margin-bottom: .5rem;
        position: relative;
        border: solid 1px #ededed;
        border-radius: 5px;
        .tender-events-list__thumb{
            flex: 0 0 auto;
            width: 100%;
            margin-right: .5rem;
            overflow: hidden;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .tender-events-list__content{
            padding: 10px;
            flex: 1 1 auto;
            display: flex;
            flex-direction: column;    
            align-items: flex-start;

            .tender-events-list__date{
                font-weight: bold;
            }
            .tender-events-list__badge{
                margin-top: 10px;
                background-color: #FFF;
                border: 1px solid red;
                padding: 2px 5px;
                border-radius: 4px;
                color: red;
                text-transform: uppercase;
                font-size: 0.75em;
                display: inline-block;
            }
        }
    }

}

/* móvil: vista tipo lista */
@media (max-width: 768px) {
    .wp-block-tender-events--calendar{ 
        .tender-calendar__weekdays {
            display: none;
        }
        .tender-calendar__day{
            display: none;
            &.tender-calendar__day--has-events{
                display: block;
            }
        }
        .tender-calendar__grid {
            grid-template-columns: repeat(1, minmax(0, 1fr));
        }
    }

}
