@use "variables" as *;

*,*:after,*:before{
	box-sizing: border-box;
}
.no-results {
	color: $primary-color;
}
.text-primary {
	color: $primary-color;
}
.text-white {
	color: $white-color;
}
.text-black {
	color: $black-color;
}
.bg-primary {
	background-color: $primary-color;
}
.text-success {
	color: $success-color;
}
.bg-success {
	background-color: $success-color;
}
.tender-page {
	// h1 {
	// 	font-size: 16px;
	// 	color: #000;
	// 	text-transform: uppercase;
	// 	text-decoration: underline;
	// }
}

