:root {
	--tal-primary-color: var(--wp--preset--color--primary, #c4017b);
	--tal-secondary-color: var(--wp--preset--color--secondary, #6c757d);
	--tal-success-color: var(--wp--preset--color--success, #28a745);
	--tal-info-color: var(--wp--preset--color--info, #17a2b8);
	--tal-warning-color: var(--wp--preset--color--warning, #ffc107);
	--tal-danger-color: var(--wp--preset--color--danger, #dc3545);
	--tal-light-color: var(--wp--preset--color--light, #f8f9fa);
	--tal-dark-color: var(--wp--preset--color--dark, #343a40);
	--tal-white-color: var(--wp--preset--color--white, #ffffff);
	--tal-black-color: var(--wp--preset--color--black, #000000);
	--tal-gray-color: var(--wp--preset--color--gray, #5c5c5c);
	--tal-gray-dark-color: var(--wp--preset--color--gray-dark, #343a40);
	--tal-gray-light-color: var(--wp--preset--color--gray-light, #f8f9fa);
	--tal-gray-lighter-color: var(--wp--preset--color--gray-lighter, #f1f1f1);
	--tal-gray-lightest-color: var(--wp--preset--color--gray-lightest, #f1f1f1);
}

// Colores base
$primary-color: var(--tal-primary-color) !default;
$secondary-color: var(--tal-secondary-color) !default;
$success-color: var(--tal-success-color) !default;
$info-color: var(--tal-info-color) !default;
$warning-color: var(--tal-warning-color) !default;
$danger-color: var(--tal-danger-color) !default;
$light-color: var(--tal-light-color) !default;
$dark-color: var(--tal-dark-color) !default;
$white-color: var(--tal-white-color) !default;
$black-color: var(--tal-black-color) !default;
$gray-color: var(--tal-gray-color) !default;
$gray-dark-color: var(--tal-gray-dark-color) !default;
$gray-light-color: var(--tal-gray-light-color) !default;
$gray-lighter-color: var(--tal-gray-lighter-color) !default;
$gray-lightest-color: var(--tal-gray-lightest-color) !default;
