@use "sass:color";
@use '../variables' as *;

.tender-fieldset {
    border-color: $secondary-color;
    border-width: 1px;
    border-style: solid;
    padding: 10px 20px 20px;
    margin-bottom: 20px;
    legend {
        font-size: 16px;
        color: #333;
        font-weight: bold;
        margin-bottom: 10px;
        text-transform: uppercase;
        padding: 0 10px;
    }
    input[type="text"],
    input[type="search"],
    select {
        width: 100%;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 3px;
        font-size: 14px;
        color: #333;
        margin-bottom: 10px;
        &:focus {
            border-color: $primary-color;
            outline: none;
            box-shadow: 0 0 5px rgba($primary-color, 0.5);
        }
        &::placeholder {
            color: #999;
        }
    }
    label{
        display: flex;
        align-items: flex-start;
        cursor: pointer;
        gap: 5px;
        margin-bottom: 5px;
        color: #333;
        font-size: 14px;

        span{
            width: calc(100% - 20px);
        }
    }
    input[type="checkbox"]{
        appearance: none;
        position: relative;
        border: 1px solid;
        border-color: $primary-color;
        border-radius: 3px;
        width: 15px;
        height: 15px;
        opacity: 0.8;
        &:hover {
            border-width: 2px;
        }
        &:checked {
            background-color: $primary-color;
            border-color: $primary-color;
            color: #fff;
        }
        &:focus {
            outline: 2px solid $primary-color;
            outline-offset: 2px;
            opacity: 1;
        }
    }
}


#loginform{
    input[type="text"],
    input[type="password"] {
        width: 100%;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 3px;
        font-size: 14px;
        color: #333;
        margin-bottom: 10px;
        &:focus {
            border-color: $primary-color;
            outline: none;
            box-shadow: 0 0 5px rgba($primary-color, 0.5);
        }
        &::placeholder {
            color: #999;
        }
    }
    label{
        display: flex;
        align-items: flex-start;
        cursor: pointer;
        gap: 5px;
        margin-bottom: 5px;
        color: #333;
        font-size: 14px;

        span{
            width: calc(100% - 20px);
        }
    }
    label{
        display: flex;
        align-items: flex-start;
        cursor: pointer;
        gap: 5px;
        margin-bottom: 5px;
        color: #333;
        font-size: 14px;

        span{
            width: calc(100% - 20px);
        }
    }
    input[type="checkbox"]{
        appearance: none;
        position: relative;
        border: 1px solid;
        border-color: $primary-color;
        border-radius: 3px;
        width: 15px;
        height: 15px;
        opacity: 0.8;
        &:hover {
            border-width: 2px;
        }
        &:checked {
            background-color: $primary-color;
            border-color: $primary-color;
            color: #fff;
        }
        &:focus {
            outline: 2px solid $primary-color;
            outline-offset: 2px;
            opacity: 1;
        }
    }
    input[type="submit"] {
        background-color: $primary-color;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 3px;
        cursor: pointer;
        font-size: 16px; 
        font-weight: bold;
        transition: background-color 0.3s ease;

        &:hover {
            opacity: 0.8;
        }

        &:focus {
            outline: 2px solid $primary-color;
            outline-offset: 2px;
        }
    }
}