.wp-block-tender-a-library-mini-book {
	max-width: 200px;
  text-align: center;
  svg{
    max-width: 100%;
  }
  .book-title{
    font-weight: bold;
  }
  .book-author{
    font-style: italic;
    font-size: inherit;
  }
}
